<h1>Hello, MBicycle!</h1>
<p>I'm Arthur Pliukh. It's my home project.</p>
<p>And I like write code. If You will don't like my project. Please write me. I want to know what me need improve.</p>

<b style="color:red;">Importrant!</b>

<p>I want complite all. But I not good to know ajax. I need more experience in ajax system. Thank you so much for read my message.</p>