﻿<table class="table-condensed" *ngIf="employees">
    <tr>
        <td>ID</td>
        <td>FirstName</td>
        <td>LastName</td>
        <td>Position</td>
    </tr>
    <tr *ngFor="let employee of employees">
        <td><input disabled type="text" #id [value]="[employee.id]" /></td>
        <td><input class="editInput" disabled type="text" #firstName [value]="[employee.firstName]" /></td>
        <td><input class="editInput" disabled type="text" #lastName [value]="[employee.lastName]" /></td>
        <td>
            <select class="editInput" #position *ngIf="positions" disabled (change)="selectChangeHandler($event)">
                <option *ngFor="let position of positions" [value]="position.id">{{position.positionName}}</option>
            </select>
        </td>
        <td><button id="edit" (click)="EditEnable()">Edit</button></td>
        <td><button (click)="saveEmployee(id.value, firstName.value, lastName.value)">Save</button></td>
    </tr>
</table>