﻿<table class="table-condensed" *ngIf="employees">
    <tr>
        <td>Id</td>
        <td>FirstName</td>
        <td>LastName</td>
        <td>Position</td>
    </tr>
    <tr *ngFor="let employee of employees">
        <td>{{ employee.id }}</td>
        <td>{{ employee.firstName }}</td>
        <td>{{ employee.lastName }}</td>
        <td>{{ employee.position }}</td>
        <td><button [routerLink]="['/details', employee.id]">Details</button></td>
        <td><button (click)="delete(employee.id)">Delete</button></td>
    </tr>
    <tr>
        <td></td>
        <td><input type="text" #firstName [value]="" /></td>
        <td><input type="text" #lastName [value]="" /></td>
        <td>
            <select #position *ngIf="positions" (change)="selectChangeHandler($event)">
                <option *ngFor="let position of positions" [value]="position.id">{{position.positionName}}</option>
            </select>
        </td>
        <td><button (click)="add(firstName.value, lastName.value)">Add</button></td>
    </tr>
</table>